install: make
language: cpp
sudo: required

dist: precise

script: make && make test

matrix:
  include:
    - env: CXX=g++-5 CC=gcc-5
      addons:
        apt:
          packages:
            - g++-5
          sources: &sources
            - ubuntu-toolchain-r-test
            - llvm-toolchain-precise
            - llvm-toolchain-precise-3.7
            - llvm-toolchain-precise-3.6

before_install:
  - sudo apt-get update -qq
  - sudo apt-get install -y libopencv-dev